[mysqld]
basedir = /usr/local/mysql
datadir = /Users/elena/Documents/GitHub_Place/web/database/data
port = 55555
log-error = /Users/elena/Documents/GitHub_Place/web/database/mysql_error.err
pid-file = /Users/elena/Documents/GitHub_Place/web/database/mysql.pid
sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

[mysqladmin]

user = root
port = 55555