[mysqld]
# Папки
basedir = /usr/local/Cellar/mysql@8.0/8.0.40_2
pid-file = /Users/elena/Documents/GitHub_Place/web/database/data/MacBook-Air-Elena.local.pid
datadir = /Users/elena/Documents/GitHub_Place/web/database/data
log-error = /Users/elena/Documents/GitHub_Place/web/database/MacBook-Air-Elena.local.err
sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
# Порт и ip
port = 8040
bind-address = 127.0.0.1
